<h1>Password Generator</h1>
<div class="form-outline mb-4">
  <!-- capture a event from html -->
  <label for="inputPassword6" class="col-form-label">Enter the length</label>
  <br>
  <input (input)="onChangeOfLength($event)">
</div>

<div>
  <input class="form-check-input" type="checkbox" value="" (change)="onChangeLetters()" type="checkbox">
  <label class="form-check-label" for="form2Example31">Letters</label>
</div>

<div>
  <input class="form-check-input" type="checkbox" value="" (change)="onChangeNumbers()" type="checkbox">
  <label class="form-check-label" for="form2Example31">Numbers</label>
<div>
  
</div>
  <input class="form-check-input" type="checkbox" value="" (change)="onChangeSymbols()" type="checkbox">
  <label class="form-check-label" for="form2Example31">Symbols</label>
</div>

<div>
<button class="btn btn-primary btn-block mb-4" 
  [disabled]="!(lengthOfPassword && ( inculdeLetters || inculdeNumbers || inculdeSymbols))" 
  type="button" (click)="onButtonClick()">Generate</button>
</div>

<div class="form-outline mb-4" *ngIf="password">
  <label for="inputPassword6" class="col-form-label">Your Password</label>
  <br>
  <input [value] ="password"/>
</div>